/*How it works title  */
#title{
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
}
/* Main section with the steps and instructions */
.bod{
    background-color: #ebebeb;
    text-align: center;
}

.boxes{
    display: inline-block;
    text-align: center;
    align-content: center;
    margin: 30px 40px 30px 40px;
    max-width: 15%;
}

#numb{
    border-bottom: solid #7af0c3 3px;
    font-size: 35px;
    max-width: 30%;
    margin: auto;
    padding-bottom: 10px;
    
}

#instruc{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 965px){
    .boxes{
        max-width: 13%;
        margin: 5px 35px 30px 35px;
    }
}

@media only screen and (max-width: 797px){
    .boxes{
        max-width: 25%;
    }
}


@media only screen and (max-width: 768px){
    .boxes{
        max-width: 25%;
    }
}

@media only screen and (max-width: 565px){
    .boxes{
        display: inline;;
    }

    #numb{
        font-size: 30px;
    }
}

@media only screen and (max-width: 360px){
    .boxes{
        display: inline;
    }
}