#button{
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 35px 8px 35px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #7af0c3;
    transition-duration: 0.2s;
}

#button:hover {
    background-color: #52a183; /* Green */
    color: white;
  }

.butDiv{
    padding-left: 13%;
}