*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.header{
    background-color: rgb(37, 37, 37);
    height: 30px;
}

#logo{
    height: 100%;
    width: 20%;
    padding-left: 13%;
    padding-top: 4px;
    
}

.color-filter{
    filter: invert(90%) sepia(7%) saturate(2332%) hue-rotate(96deg) brightness(94%) contrast(100%);
}


@media only screen and (max-width: 565px){
    #logo{
        width: 30%;
    }
}

